:root{
 --main-color: #018a82;
 --second-color: #4dada7;
 --text-color: #f5f5f5;
 font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header section */

header{
    position: relative;
    margin: auto;
    margin-top: 1% ;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#date{
    position: absolute;
    bottom: 0;
    right: 0;
}

header img{
    width: 6%;
    height: auto;
}

h1{
    padding-left: 4%;
}

h1, h2, h3{
    margin: 0;
}

h1{
    text-transform: uppercase;

}

/* main section */

main{
    width: 80%;
    margin:auto;
}

.separador{
    background-color: var(--main-color);
    color: var(--text-color);
    margin-top: 1%
}
.separador h2{
    padding: 0.2%;
    padding-left: 1%;
}
section{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 1%;
}
.pass{
    width: 40%;
}

.imag{
    width: 60%;
    display: flex;
    
}

.imag img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

#user{
    margin: auto;
    width: 60%;
    height: 350px;
    border: solid 1px #70bdb9;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    
}

#user h3{
    background-color: var(--second-color);
    color: var(--text-color);
    padding-left: 2%;
    height: 10%;
    padding-top: 1.8%;
}

#passBox{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

#pass{
    border: solid 1px #70bdb9;
    width: 60%;
    height: 18%;
}

.msnPass{
    text-align: left;
    width: 100%;
}

.subBtn{
    display: flex;
    width: 100%;
    justify-content: center;
}

#btn{
    background-color: var(--second-color);
    text-transform: uppercase;
    border: none;
    padding: 2%;
    color: var(--text-color);
}

#btn:hover{
    background-color: var(--main-color);
}

.quest{
   justify-content: flex-end;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    padding-right: 2%;
}

.quest a{
    padding-bottom:5%;
    margin: 0;
    text-decoration: none;
}

/* footer section */

footer{
    margin: auto;
    width: 80%;
    height: 60px;
    background-color: var(--main-color);
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase;
    flex-direction: column;
}
.logo{
    width: 2%;
}

