:root{
    --main-color: #018a82;
    --second-color: #4dada7;
    --text-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
   
   
}

/* header */

header{
    position: relative;
    margin: auto;
    margin-top: 1% ;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#date{
    position: absolute;
    bottom: 0;
    right: 0;
}

header img{
    width: 6%;
    height: auto;
}

h1{
    padding-left: 4%;
}

h1, h2, h3{
    margin: 0;
}

h1{
    text-transform: uppercase;

}

/* main section */



/* footer */
footer{
    margin: auto;
    width: 80%;
    height: 60px;
    background-color: var(--main-color);
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase;
    flex-direction: column;
}
.logo{
    width: 2%;
}

